@import "./variables";

.game {
  &__score {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    border-radius: 50%;
    background: rgb(255, 236, 236);
    color: #b96b6b;
    z-index: 0;
    margin: 0;
    top: 70px;
    left: calc(50% - 50px);
    font-family: $n;
  }
}
