@import "./variables";

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/site-background.webp");
}

html,
body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

*::selection {
  background: #000;
  color: #fff;
}

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  background: #3b3b3bbc;
  border-radius: 30px;

  &__header {
    width: calc(100% - 48px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 24px;
    color: #c7c7c7;

    &-text {
      font-size: 19px;
      font-family: $i;
      letter-spacing: -0.35px;
      font-weight: 500;
    }
  }

  &__mute {
    cursor: pointer;

    &-btn {
      color: #c7c7c7;
      font-size: 17px;
      background: transparent;
      border: none;
      outline: none;
    }
  }

  &__canvas-container {
    width: 280px;
    height: 400px;
    position: relative;
    background: #fad4d4;
    transition: 0.3s;

    &--blue {
      transition: 1s;
      background: #9ea5ff;

      & .game__score {
        transition: 1s;

        background: rgb(198, 202, 255);
        color: #7b73d3;
      }
    }

    &--green {
      transition: 1s;
      background: #c4e6a7;

      & .game__score {
        transition: 1s;

        background: rgb(169, 206, 136);
        color: #609450;
      }
    }

    &--cyan {
      transition: 1s;
      background: #99e0f1;

      & .game__score {
        transition: 1s;

        background: rgb(128, 197, 214);
        color: #386095;
      }
    }

    &--purple {
      transition: 1s;
      background: #c9a7f1;

      & .game__score {
        transition: 1s;

        background: rgb(182, 149, 220);
        color: #9656c9;
      }
    }

    &--orange {
      transition: 1s;
      background: #ffcc80;

      & .game__score {
        transition: 1s;

        background: rgb(235, 184, 109);
        color: #d35400;
      }
    }
  }

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 400px;
  }
}
